apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloud-app-deploy
  namespace: formation-k8s
  labels:
    app: cloud-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cloud-app
  template:
    metadata:
      labels:
        app: cloud-app
    spec:
      containers:
        - name: cloud-app-container
          image: cloud-app:1.0.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: APP_MESSAGE
              value: "Hello from Kubernetes Deployment"
          readinessProbe:
            httpGet:
              path: /api/info
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /api/info
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
